 /*Headline1 Style*/
.containerMain{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0 auto;
}
 .headline1_canvas {
    position: relative;
    width: 75vw;
    margin: auto;
    padding: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    background-color: var(--card1);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-color: var(--btn-glow2);
    border-width: 2px;
    backdrop-filter: saturate(130%) blur(5px) !important;
    background-color: var(--transparent-glass) !important;
    box-shadow: inset -2px -2px 22px var(--glow),
                  2px 2px 6px var(--shadow);
  }
@media only  screen  and (max-width: 768px){
    .headline1_canvas  {
      flex-direction: column;
      width: 90vw;
      padding: 12px;
    }
      }
    .headline2_canvas {
    position: relative;
    width: 75vw;
    margin: auto;
    padding: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    background-color: var(--card1);
    border-color: var(--btn-glow2);
    border-width: 2px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    backdrop-filter: saturate(130%) blur(5px) !important;
    background-color: var(--transparent-glass) !important;
    box-shadow: inset -2px -2px 22px var(--glow),
                    2px 2px 6px var(--shadow);
    }
@media only  screen  and (max-width: 768px){
    .headline2_canvas  {
        flex-direction: column;
        width: 90vw;
        padding: 12px;
    }
        }

  .headline_col {
    flex: 2;
    padding-top: 24px;
    padding: 12px;
    margin: auto;
  }

 
