.containerMain{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.logo_slider{
    background-color: var(--transparent);
    height: 100px;
    width: 75vw;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin: auto;
    gap: 150px;
  }
  @media only  screen  and (max-width: 768px){
    .logo_slider  {
        width: 90vw;
    }
        }
  .logo_slide {
    display: block;
    position: absolute;
    height: 100px;
    width: 100px;
    animation: slidelogo 27s 0s linear infinite;
    }
    .logo_slide:nth-child(2) { transform: translateX(300px); animation-delay: -3s; 
    }

    .logo_slide:nth-child(3) { transform: translateX(600px); animation-delay: -6s; 
    }

    .logo_slide:nth-child(4) { transform: translateX(900px); animation-delay: -9s;
    }

    .logo_slide:nth-child(5) { transform: translateX(1200px); animation-delay: -12s;
    }

    .logo_slide:nth-child(6) { transform: translateX(1500px); animation-delay: -15s;
    }

    .logo_slide:nth-child(7) { transform: translateX(1800px); animation-delay: -18s;
    }
    
    .logo_slide:nth-child(8) { transform: translateX(2100px); animation-delay: -21s;
    }

    .logo_slide:nth-child(9) { transform: translateX(2400px); animation-delay: -24s;
    }
    
    .logo_slide:nth-child(10) { transform: translateX(2700px); animation-delay: -27s;
    }

  
  @keyframes slidelogo {
    from {
    transform: translateX(2700px);
  }
  to {
    transform: translateX(-75px);
  }
  }