.container {
  width: 100%;
  animation: fadeIn .5s;
}

.imgContainer {
  width: 100%;
  height: 63vh;
  position: relative;
}

.img {
  object-fit: cover;
  /* filter: grayscale(100%); */
}

.imgText {
  position: absolute;
  bottom: 30px;
  right: 20px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: saturate(130%) blur(5px) !important;
  background-color: var(--transparent-glass) !important;
  box-shadow: inset -2px -2px 22px var(--glow),
                2px 2px 6px var(--shadow);
}
@media only  screen  and (max-width: 768px){
  .imgText {
  left: 20px;
  }
}
.item {
  flex: 1;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}
@keyframes fadeIn {
  from   { transform: rotate(-.2deg); opacity: 0;}
  
  to { transform: rotate(0deg); opacity: 1;}
}