.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.side_bar {
    margin-top: 56px;
    position: relative;
    flex: 1;
    height: inherit;
    padding: 12px;
    backdrop-filter: saturate(180%) blur(6px) !important;
    background-color: var(--transparent) !important;
    border-right-width: .5px;
    border-color: var(--border1);
    box-shadow: inset -10px -10px 10px var(--glow),
                  1px 1px 1px var(--shadow);
}
.side_content{
    position: sticky;
    top: 68px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: transparent;
}
.main_bar {
    margin-top: 100px;
    position: relative;
    display: flex;
    flex: 5;
    flex-direction: column;
    justify-content: flex-start;
}
.mainTitle {
    font-size: 48px;
  }