.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  }
  .bubbles {
    position: relative;
    display:flex;
    flex-wrap:wrap-reverse;
    width: 100%;
  }
  .bubbles span{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    background: var(--card);
    margin: 0 32px;
    border-radius: 20%;
    opacity: 50%;
    transform: scale(0);
    box-shadow: 0 0 0 3px var(--glow),
                0 0 50px var(--accent1),
                0 0 100px var(--accent1);
    animation: animate 15s linear infinite;
  }
  .bubbles span:nth-child(even){ background: var(--secondaryColor); }
  .bubbles span:nth-child(2){ animation-delay: 3.5s; animation-duration: 13s; }
  .bubbles span:nth-child(3){ animation-delay: 2s; animation-duration: 7s; }
  .bubbles span:nth-child(4){ animation-delay: 1s; animation-duration: 19s; }
  .bubbles span:nth-child(5){ animation-delay: 0.5s; animation-duration: 11s; }
  .bubbles span:nth-child(6){ animation-delay: 3.5s; animation-duration: 13s; }
  .bubbles span:nth-child(7){ animation-delay: 2s; animation-duration: 7s; }
  .bubbles span:nth-child(8){ animation-delay: 0s; animation-duration: 24s; }
  .bubbles span:nth-child(9){animation-delay: 0.5s; animation-duration: 11s;}
  .bubbles span:nth-child(10){animation-delay: 4s; animation-duration: 21s;}
  .bubbles span:nth-child(11){ animation-delay: 3.5s; animation-duration: 13s; }
  .bubbles span:nth-child(12){ animation-delay: 6s; animation-duration: 17s; }
  .bubbles span:nth-child(13){ animation-delay: 1s; animation-duration: 19s; }
  .bubbles span:nth-child(14){ animation-delay: 0.5s; animation-duration: 11s; }
  .bubbles span:nth-child(15){ animation-delay: 3.5s; animation-duration: 13s; }
  .bubbles span:nth-child(16){ animation-delay: 2s; animation-duration: 7s; }
  .bubbles span:nth-child(17){ animation-delay: 1s; animation-duration: 19s; }
  .bubbles span:nth-child(18){animation-delay: 0.5s; animation-duration: 11s;}
  .bubbles span:nth-child(19){animation-delay: 4s; animation-duration: 21s;}
  @keyframes animate {
    0%   { transform: translateY(90vh) scale(0); }
    100% { transform: translateY(-10vh) scale(1); }
  }